<h1>Login Here</h1>

<%# Create login form here %>
<%# credentials: email, password %>
<%= render 'sessions/login_form' %><br>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>

<%# link_to 'Sign In', employee_path(@employee) %>