<h1>Hello, <%= @employee.first_name %></h1>

<h3>Title:</h3>
<h4><%= @employee.title %></h4>

<h3>Email:</h3>
<h4><%= @employee.email %></h4>

<h3>Project Lead?</h3>
<h4><%= @employee.lead %></h4><br>