<h1>Active Projects</h1>

<ul>
<% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
<% end %>
</ul>
<br>
<br>
<% if @curr_user.lead %>
    <h4><%= link_to "Create New Project", new_project_path %></h4>
<% end %>